.title {
    margin-top: 15px;
    margin-bottom: 10px;
}

.container {
    background-color: #626262;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    padding: 15px 10px;
}

/* .article_section {
    display: flex;
    gap: 45px;
    padding: 35px 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
} */

.article {
    background-color: #9B9B9B;
    border-radius: 15px;
    width: 355.41px;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headings {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 20px;
}

@media (min-width: 862px) {
    .container {
        flex-direction: row;
    }
}